.bg-primary{

  background: color #2f4f4f; !important;
}

/* warning color is changed to dimgray */
.bg-warning{
  background-color:dimgray !important;
}


/* light color is changed to darkoilvegreen */

.bg-text{
  background-color:#dcdcdc !important;
}

.bg-nav{

  background-color:rgb(23, 20, 48) !important;
}